.action-form {

  form {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      height: 48px;
      width: 580px;
      padding-left: 32px;
      border-radius: 10px 0 0 10px;

      &::placeholder {
        color: $text_gray;
        font-size: $f_size_base;
        line-height: 20px;
      }
    }

    button {
      margin-left: 5px;
      margin-right: 50px;
      padding: 0 15px;
      height: 50px;
      border-radius: 0 10px 10px 0;
      transition: all .2s ease;

      &:hover {
        color: $text_white;
        background-color: transparent;
      }
    }
  }

  @media ( max-width: $xxxl ) {

    &.on-header {

      form {

        input {
          width: 280px;
        }
      }
    }
  }
}

.discountBadge {
  background-color: $c_discount_badge;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 71px;

  span {
    color: $text_white;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;

    strong {
      font-size: 24px;
      line-height: 20px;
    }
  }

  @media ( max-width: $lg ) {

    & {
      width: 43px;
      height: 43px;

      span {
        display: block;
        font-size: 8px;
        line-height: 15px;
        font-weight: normal;

        strong {
          font-size: 14px;
          line-height: 9px;
        }
      }
    }
  }
}

button {
  display: inline-block;
  font-size: $f_size_base;
  font-weight: bold;
  border: none;
  background-color: $c_white_bg;
  cursor: pointer;
}

button, a.button, span.button {
  font-size: $f_size_base;
  border-radius: $b_radius_default;
  font-weight: bold;
  transition: all .2s ease;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;

  &.primary {
    background-color: $c_green;
    border: 1px solid $c_green_border;
  }

  &.secondary {
    color: $text_black;
    background-color: $c_white_bg;
    border: 1px solid $c_white;

    img {
      display: inline-block;
      width: 13px;
      height: 10px;
      margin-left: 10px;
      transition: transform .2s ease;
    }

    &:hover {
      color: $text-white;
      background-color: transparent;
      border-color: $c_gray_border;

      img {
        filter: grayscale(1) invert(1);
        transform: translateX(5px);
      }

      svg {
        transform: translateX(5px);

        path {
          fill: $c_white;
        }
      }
    }

    svg {
      transition: transform .2s ease;
      margin-left: 10px;

      path {
        transition: fill .2s ease;
        fill: $c_black;
      }
    }
  }
}

a.button {
  display: inline-block;
}

