@import "~normalize-scss/sass/normalize";
@import "variables";
@import "helpers";

body {
  font-family: $f_family_primary;
  font-size: $f_size_base;
  line-height: $line_height_base;
  margin: 0;
}

::selection {
  color: $c_black_bg;
  background: $c_red_bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f_family_primary;
  color: $text_black;
  font-weight: bold;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;

  &.special {

    li {
      display: flex;
      align-items: center;

      &:before {
        content: url('/img/icon-ok.svg');
        margin-right: 10px;
      }
    }
  }
}

form {

  input {
    background-color: $c_white_bg;
    border: none;

    &:focus {
      outline: none;
    }
  }
}


.container {
  margin: auto;
  padding: 0 15px;
  width: 100%;
  max-width: 100%;
  height: 100%;

  &.sliderContainer {
    margin: 0 0 0 auto;
    padding: 0;
  }

  @media ( min-width: $sm ) {
    max-width: 540px;
  }

  @media ( min-width: $md ) {
    max-width: 720px;
  }

  @media ( min-width: $lg ) {
    max-width: 960px;
  }

  @media ( min-width: $xl ) {
    max-width: 1140px;

    &.sliderContainer {
      max-width: 1170px;
    }
  }

  @media ( min-width: $xxl ) {
    max-width: 1320px;

    &.sliderContainer {
      max-width: 1420px;
    }
  }

  @media ( min-width: $xxxl ) {
    max-width: 1600px;

    &.sliderContainer {
      max-width: 1630px;
    }
  }
}

section.favouriteProducts {
  background-color: $c_main_bg;
}

section.benefitProducts {
  background-color: $c_white_bg;

  .benefitBox {

    .benefitBadges {

      div:before {
        background: $c_white_bg !important;
      }
    }
  }
}

section.newsProducts {
  background-color: $c_main_bg;
}

section.blogPosts {
  background-color: $c_main_bg;


  a {
    display: block;
    position: relative;
  }

  .blogPostBadge {
    color: $text_white;
    font-size: 14px;
    line-height: 18px;
    background-color: $c_red_bg;
    border-radius: $b_radius_default;
    padding: 5px 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 0 0 10px $c_black;
    z-index: 5;
  }

  .blogPostBox {
    width: 460px !important;
    padding: 0 !important;

    &:hover {

      .blogPostThumb {

        &:after {
          background-color: rgba(0, 0, 0, .6);
        }

        img:last-child {
          opacity: 1;
        }
      }
    }

    .blogPostThumb {
      border-top-left-radius: $b_radius_default;
      border-top-right-radius: $b_radius_default;
      position: relative;

      &:after {
        content: '';
        border-top-left-radius: $b_radius_default;
        border-top-right-radius: $b_radius_default;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        transition: background-color .2s ease;
      }

      img:last-child {
        z-index: 10;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 50%;
        opacity: 0;
        transition: opacity .2s ease;
      }
    }

    .text {
      padding: 20px;

      .postTitle {
        display: flex;
        justify-content: space-between;

        h4 {
          max-width: 80%;
          font-size: 30px !important;
          line-height: 34px !important;
          margin-top: 0;
          margin-bottom: 0;
        }

        .meta {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          .comments {
            display: flex;
            align-items: center;

            svg {

              path {
                fill: $text_light_gray;
              }
            }

            span {
              position: relative;
              top: -2px;
              font-size: $f_size_base;
              font-weight: bold;
              color: $text_light_gray;
              margin-left: 5px;
            }
          }

          time {
            color: $text_light_gray;
            font-weight: bold;
            font-size: $f_size_base;
          }
        }
      }

      p {
        font-size: $f_size_base !important;
        border-bottom: none !important;
        opacity: 1 !important;
      }
    }
  }
}

.carouselArrows {

  button {
    display: flex;
    align-items: center;
    border: 1px solid $c_white;
    border-radius: $b_radius_default;
    background-color: transparent;

    &:hover {
      background-color: $c_white_bg;

      img {
        filter: grayscale(1) invert(1);
      }
    }

    &:focus {
      outline: none;
    }

    &.arrowPrev {
      margin-right: 10px;
    }
  }
}

.promoSlider {

  .promoCarousel {
    height: 100%;

    ul, li {
      height: 100%;
    }

    .carouselArrows {
      display: flex;
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
  }
}

.productSlider {
  position: relative;

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .productCarousel {
    padding-bottom: 140px;

    .react-multi-carousel-dot-list {
      width: auto;
      position: absolute;
      left: 0;
      top: 84%;
      padding-left: 150px;

      li {
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }

        button {
          background-color: $text_light_gray;
          border: none;
          width: 14px;
          height: 14px;
        }

        &.react-multi-carousel-dot--active {

          button {
            background-color: $c_green_bg;
          }
        }
      }
    }
  }

  .carouselArrows {
    display: flex;
    position: absolute;
    right: 0;
    top: 84%;
    padding-right: 150px;
    z-index: 10;

    button {
      border: 1px solid $c_black;

      &:hover {
        background-color: $c_black;

        img {
          filter: grayscale(0) invert(0);
        }
      }

      img {
        filter: grayscale(1) invert(1);
      }
    }
  }
}

.sliderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 50px;
  }

  a {
    display: block;
    color: $c_black;
    font-size: $f_size_base;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 40px;

    &:hover {
      text-decoration: underline;
    }
  }

  @media ( max-width: $md ) {

    h2 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    a {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 20px;
    }

    img {
      display: none;
    }
  }
}

@import "components";
@import "responsiveGlobals";
