@media ( max-width: $xxxl ) {

  .header {

    .action-form {

      form {

        input {
          width: 280px;
        }
      }
    }
  }
}

@media ( max-width: $xxl ) {

  .header {

    .mainBarWrap {


      .contact {
        display: none;
      }

      .iconActions {

        a:first-child {
          border-left: 1px solid $c_dark_green_border;
        }
      }
    }
  }
}

@media ( max-width: $xl ) {
  .header {

  }
}