@media ( max-width: $xxxl ) {

  section.promo {

    .grid {
      width: 1320px;
      // FIX
      grid-template-columns: 25% 50.8% 25%;

      .categoryWidget {

        ul.categoryWidgetList {
          width: 100%;
          background-color: $c_white_bg;
          border-radius: $b_radius_default;
          box-shadow: 0 0 5px $c_shadow;

          li.categoryWidgetItem {

            &.hasMegamenu {

              .megamenu {
                width: calc(1011px - 50px);
              }
            }
          }
        }
      }

      .promoSlider {

      }

      .adBanner {

      }
    }

    .miniBanners {

      .gridMiniBanners {
        width: 1320px;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 150px;
        padding-left: 0;
      }
    }
  }

  section.bannerLinks {

    .bannerLinksGrid {

      &:first-child {
        display: flex;

        .box {

          &:first-child {
            max-width: 30%;
          }
        }
      }
    }
  }
}



